<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hefuwei.kdiycode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".DiyCodeApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/DiyCode">
        <activity android:name="com.hefuwei.kdiycode.pages.splash.SplashActivity"
            android:theme="@style/DiyCode.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.login.LoginActivity" />
        <activity android:name=".pages.web.WebViewActivity" />
        <activity android:name=".pages.main.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".pages.user.UserProfileActivity" />
        <activity android:name=".pages.choosenode.ChooseNodeActivity" />
        <activity android:name=".pages.main.fragment.projects.ProjectsFragment" />
        <activity android:name=".pages.myfavorite.MyFavoriteActivity" />

        <activity android:name="com.hefuwei.download.TestActivity">
        </activity>
        <service android:name="com.hefuwei.download.DownloadService" />

    </application>

</manifest>